body{
  margin:0px;
  background-color: #eeeeee;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-areas:
      'header header header header header header'
      'sidebar sidebar body body body body'
      'footer footer footer footer footer footer';
    grid-gap: 20px;
    width: 960px;
    margin: 32px auto;
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 9px rgb(226, 226, 226);
    border-radius: 10px;
  }
  
  .header{
    grid-area: header;
    position:relative;
    height: 200px;
    display:table-cell; 
    vertical-align: bottom;
  }
  
  .sidebar{
    grid-area: sidebar;
  }
  
  .body{
    grid-area: body;
  }
  .footer{
    grid-area: footer;
    background-color: blue;
    height: 20px;
  }
  