/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1{
  font-size: 50px;
  font-weight: 600;
  margin: 8% 0 4% 0;
}

h2{font-size: 26px;font-weight: 500;line-height: 30px;margin-top: 26px;}
h3{font-size: 20px;font-weight: 500;line-height: 30px;margin-top: 18px;}
h4{font-size: 18px;font-weight: 300;line-height: 20px;margin-bottom: 2px;}

span{
  font-size: 18px;
  line-height: 26px;
}



body{
  font-family: 'Noto Sans TC', sans-serif;
  margin:0px;
  background-color: #eeeeee;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-areas:
      'header header header header header header'
      'sidebar sidebar body body body body';
    grid-gap: 20px;
    width: 1100px;
    margin: 32px auto;
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 9px rgb(226, 226, 226);
    border-radius: 10px;
  }
  
  .header{
    grid-area: header;
    position:relative;
    display:table-cell; 
    vertical-align: bottom;
  }
  
  .sidebar{
    grid-area: sidebar;
  }
  
  .body{
    grid-area: body;
  }
  .footer{
    grid-area: footer;
    background-color: blue;
    height: 20px;
  }

@media screen and (max-width: 1200px) {
  .container{width:90%; font-size: 1em;}

@media screen and (max-width: 700px) {
  .container{
  grid-template-areas:
    'header'
    'sidebar' 
    'body';
  }